<!DOCTYPE html>
<html lang="en">
  <head>
    {{#if TEST}}
    <script src="scripts/eruda.min.js"></script>
    <script>
      eruda.init();
    </script>
    {{/if }}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="|BotSub enabling you to purchase data 
      even while you are totaly out of data using facebook freemode stay connected with ease botsub"
    />
    <title>BotSub Data and Airtime Purchase Made Easy</title>
    <link rel="stylesheet" href="styles/home.css" />
    <link rel="icon" href="images/chatbot.png" />
  </head>

  <body class="transition">
    <!-- nav menu -->
    <nav id="nav-menu" class="border-r20 bg-white l-border small">
      <svg
        id="cancel-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="10" />
        <line x1="15" y1="9" x2="9" y2="15" />
        <line x1="9" y1="9" x2="15" y2="15" />
      </svg>
      <a href="/buy-data" class="l-border txt-cent">Buy Data</a>
      <a href="/buy-airtime" class="l-border txt-cent">Buy Airtime</a>
      <a href="" class="l-border txt-cent">Chat BotSub</a>
      <a href="/data-pricing" class="l-border txt-cent">View Data Pricing</a>
      <a href="/report-issue" class="l-border txt-cent">Report An Issue</a>
      <a href="#about-us" class="l-border txt-cent">About Us</a>
      <a href="survey" class="l-border txt-cent">Survey</a>
    </nav>
    <!-- menu button -->
    <svg
      id="menu-icon"
      class="padding-10 bg-darkorange"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M3 12h18M3 6h18M3 18h18" />
    </svg>

    <section id="hero">
      <div id="responsive-header">
        <header class="grad-drkb clr-white">
          <img src="images/Hpic" />

          <div
            data-anime="bottom-slide"
            id="header-logo"
            class="scroll-anime bold flex flex-al-cent flex-jst-cent"
          >
            <span class="img-container flex-i flex-jst-cent flex-al-cent bg-drkb2"
              ><img src="images/chatbot.png" alt="botsub-logo"
            /></span>
            <span class="bg-drkb2 clrw padding-10 border-r20"> &nbsp; &nbsp; BotSub</span>
          </div>

          <h1 data-anime="left-slide" class="">Buy Data And Airtime At Cheaper Rate With ease</h1>

          <p data-anime="right-slide" class="small">
            Unlock the convenience of instant mobile recharges and data top-ups with Qsub.
          </p>
        </header>

        <div id="box" class="bg-white border-r20 padding-10 shadow">
          <p>All networks available</p>

          <div id="networks-i-holder" class="border-r20 l-border flex flex-sp-ar flex-al-cent shdw">
            <img src="images/mtn.svg" />
            <img src="images/airtel.svg" />
            <img src="images/9mobile.svg" />
            <img src="images/glo.svg" />
          </div>

          <div class="padding-top5 listing l-border border-r10">
            <span class="small"> <span class="green">&#10004;</span> Buy data with ease </span
            ><br />
            <span class="small"> <span class="green">&#10004;</span> No registration required</span
            ><br />
            <span class="small"> <span class="green">&#10004;</span> No wallet funding </span><br />
            <button
              onclick="changeLocation(event);"
              data-location="buy-data"
              data-anime="left-slide"
              class="scroll-anime l-border transition flex flex-al-cent flex-jst-cent no-border clr-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M5 12.55a11 11 0 0 1 14.08 0" />
                <path d="M1.42 9a16 16 0 0 1 21.16 0" />
                <path d="M8.53 16.11a6 6 0 0 1 6.95 0" />
                <line x1="12" y1="20" x2="12" y2="20" />
              </svg>
              &nbsp; Buy Data
            </button>
          </div>

          <div class="padding-top5 listing l-border border-r10">
            <span class="small">
              <span class="green">&#10004;</span> Airtime purchased simplified</span
            ><br />
            <span class="small"> <span class="green">&#10004;</span> Simplified payment flow</span
            ><br />
            <span class="small">
              <span class="green">&#10004;</span> Fast and reliable transaction</span
            ><br />
            <button
              onclick="changeLocation();"
              data-location="buy-airtime"
              data-anime="left-slide"
              class="scroll-anime l-border transition border-r20 bg-darkorange flex flex-al-cent flex-jst-cent no-border clr-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-telephone"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168
             c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062
             a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19
             a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034
             c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                />
              </svg>
              &nbsp; Buy Airtime
            </button>
          </div>

          <p>
            Even better make top-ups with our Facebook Virtual Assistant. Buy airtime and data
            seamlessly, even on freemode, through our chatbot.
          </p>
          <a
            href="https://www.facebook.com/profile.php?id=100094053438576"
            data-anime="top-slide"
            id="cta-bt"
            class="transition scroll-anime flex flex-al-cent flex-jst-cent big bold no-border clr-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 640 512"
            >
              <path
                d="M256 64H384v64H256V64zM240 0c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h48v32H32
             c-17.7 0-32 14.3-32 32s14.3 32 32 32h96v32H80c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48
             H240c26.5 0 48-21.5 48-48V368c0-26.5-21.5-48-48-48H192V288H448v32H400c-26.5 0-48 21.5-48 48v96
             c0 26.5 21.5 48 48 48H560c26.5 0 48-21.5 48-48V368c0-26.5-21.5-48-48-48H512V288h96c17.7 0 32-14.3 32-32
             s-14.3-32-32-32H352V192h48c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48H240zM96 448V384H224v64H96zm320-64H544v64H416V384z"
              />
            </svg>
            &nbsp;
            <span> Connect </span>
          </a>
        </div>
      </div>
      <svg width="0" height="0">
        <defs>
          <clipPath id="head-slant" clipPathUnits="objectBoundingBox">
            <path d="M 0 0 L 1 0 L 1 1 L 0 0.9 Z" />
          </clipPath>
        </defs>
      </svg>
    </section>

    <main class="">
      <section id="feautures" class="padding-10">
        <h2 data-anime="left-slide" class="scroll-anime">Why Choose BotSub?</h2>
        <br />

        <div class="responsive flex-jst-cent">
          <div data-anime="left-slide" class="scrll-anime features shadow padding-10">
            <h4 data-anime="bottom-slide-rotate-y" class="scroll-anime">
              Buy Data Even On FreeMode
            </h4>
            <br />
            <p>
              Our
              <a href="https://www.facebook.com/profile.php?id=100094053438576&mibextid=ZbWKwL"
                >Facebook chat bot</a
              >
              operates 24/7, enabling you to purchase data anytime, even while on freemode.
            </p>
          </div>
          <br />

          <div data-anime="top-slide" class="scrll-anime features shadow padding-10 border-r2">
            <h4 data-anime="bottom-slide-rotate-y" class="scroll-anime">
              No Registration Required
            </h4>
            <br />
            <p class="">
              Make fast and secure purchases with out the need of registration hassle.<br />
              simplification at its peak
            </p>
          </div>
          <br />

          <div data-anime="top-slide" class="scrll-anime features shadow padding-10 border-r2">
            <h4 data-anime="bottom-slide-rotate-y" class="scroll-anime">
              Secure And Trusted Transactions
            </h4>
            <br />
            <p class="">
              Rest assured knowing that your data and airtime transactions are conducted securely,
              protecting your personal and financial information.
            </p>
          </div>
          <br />

          <div data-anime="top-slide" class="scrll-anime features shadow padding-10">
            <h4 data-anime="bottom-slide-rotate-y" class="scroll-anime">Cost-Effective</h4>
            <br />
            <p>Our solutions maximize value without compromising on quality.</p>
          </div>
          <br />

          <div data-anime="top-slide" class="scrll-anime features shadow padding-10 border-r2">
            <h4 data-anime="bottom-slide-rotate-y" class="scroll-anime">
              Seamless User Experience
            </h4>
            <br />
            <p class="">
              Experience a seamless and user-friendly platform designed to make data and airtime
              purchases quick, easy, and hassle-free.
            </p>
          </div>
        </div>
      </section>
      <br /><br />

      <!-- customer reviews section -->
      <section id="customer-reviews">
        <h2 data-anime="left-slide" class="scroll-anime padding-10">Customer Reviews</h2>
        <div data-type="customer-reviews" data-anime="top-slide" class="scrll-anime carousel">
          <div class="carousel-inner">
            <div class="carousel-item">
              <div class="l-border container shadow bg-white order-r20 padding-10">
                <div class="flex flex-al-cent">
                  <img src="images/Hpic" alt="Image 1" />&nbsp;
                  <span class="small"
                    >Khalid Bello <br />
                    fullstack web dev</span
                  >
                </div>
                <br />
                <p>
                  I love how easy it is to buy data with this service! With just a few taps, I can
                  top up my data and stay connected without any hassle.
                </p>
              </div>
            </div>
            <div class="carousel-item padding-0">
              <div class="l-border container shadow bg-white border-r20 padding-10">
                <div class="flex flex-al-cent">
                  <img src="images/Hpic" alt="Image 1" />&nbsp;
                  <span class="small"
                    >Abubakar Al-ibiewi<br />
                    Product designer
                  </span>
                </div>
                <br />
                <p>super fast</p>
              </div>
            </div>
            <div class="carousel-item padding-1">
              <div class="l-border container shadow bg-white border-r20 padding-10">
                <div class="flex flex-al-cent">
                  <img src="images/Hpic" alt="Image 1" />
                  <span class="small"
                    >Ismail I Idris <br />
                    Content Creator</span
                  >
                </div>
                <br />
                <p>super fast</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-controls">
          <button
            data-anime="left-slide"
            class="scroll-anime shadow darkorange no-border"
            onclick="prevSlide()"
          >
            &lt;
          </button>
          <button
            data-anime="right-slide"
            class="scroll-anime shadow darkorange no-border"
            onclick="nextSlide()"
          >
            &gt;
          </button>
        </div>
      </section>
      <br /><br />

      <!-- our services section -->
      <section id="Our Services" class="padding-10">
        <h2 data-anime="left-slide" class="scroll-anime">Our Services</h2>
        <br />
        <div class="responsive flex-sp-ar">
          <div
            data-anime="bottom-slide-rotate-y"
            class="scroll-anime services l-border padding-10 border-r20"
          >
            <h4 class="darkorange flex flex-al-cent">
              <span class="flex flex-al-cent flex-jst-cent">
                <img src="images/data.png" />
              </span>
              &nbsp; Data Purchase
            </h4>
            <br />
            <p>
              Unleash the power of connectivity! Buy a data bundle now and enjoy seamless browsing,
              streaming, and staying connected. Upgrade your digital experience today!
            </p>
            <button
              onclick="changeLocation(event);"
              data-location="buy-data"
              class="darkorange l-border flex flex-al-cent flex-jst-cent no-border"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M5 12.55a11 11 0 0 1 14.08 0" />
                <path d="M1.42 9a16 16 0 0 1 21.16 0" />
                <path d="M8.53 16.11a6 6 0 0 1 6.95 0" />
                <line x1="12" y1="20" x2="12" y2="20" />
              </svg>
              &nbsp; Buy Data
            </button>
          </div>
          <br />
          <div
            data-anime="bottom-slide-rotate-y"
            class="scroll-anime services l-border padding-10 border-r20"
          >
            <h4 class="darkorange flex flex-al-cent">
              <span class="flex flex-al-cent flex-jst-cent">
                <img src="images/phone.png" />
              </span>
              &nbsp; Airtime Purchase
            </h4>
            <br />
            <p>
              Stay connected effortlessly with our airtime service. Instant recharge, wide network
              coverage, flexible denominations, and secure transactions. Enjoy exclusive promotions
              and 24/7 customer support. Recharge with ease and never miss a beat in your
              conversations.
            </p>
            <button
              onclick="changeLocation();"
              data-location="buy-airtime"
              class="darkorange l-border border-r20 flex flex-al-cent flex-jst-cent no-border"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-telephone"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168
             c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062
             a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19
             a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034
             c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                />
              </svg>
              &nbsp; Buy Airtime
            </button>
          </div>
          <br />
          <div
            data-anime="bottom-slide-rotate-y"
            class="scroll-anime services l-border padding-10 border-r20"
          >
            <h4 class="darkorange flex flex-al-cent">
              <span class="flex flex-al-cent flex-jst-cent">
                <img src="images/chatbot.png" />
              </span>
              &nbsp; Purchase With Bot
            </h4>
            <br />
            <p>
              Simplify your top-up experience with our Facebook Chatbot. Effortlessly recharge your
              mobile credit with secure transactions, personalized recommendations, and exclusive
              offers. Stay connected seamlessly. Chat now for easy and convenient recharge!
            </p>
            <button
              class="darkorange l-border border-r20 flex flex-al-cent flex-jst-cent no-border"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 640 512"
              >
                <path
                  d="M256 64H384v64H256V64zM240 0c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h48v32H32
              c-17.7 0-32 14.3-32 32s14.3 32 32 32h96v32H80c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48
              H240c26.5 0 48-21.5 48-48V368c0-26.5-21.5-48-48-48H192V288H448v32H400c-26.5 0-48 21.5-48 48v96
              c0 26.5 21.5 48 48 48H560c26.5 0 48-21.5 48-48V368c0-26.5-21.5-48-48-48H512V288h96c17.7 0 32-14.3 32-32
              s-14.3-32-32-32H352V192h48c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48H240zM96 448V384H224v64H96zm320-64H544v64H416V384z"
                />
              </svg>
              &nbsp;
              <span>Chat</span>
            </button>
          </div>
        </div>
      </section>
      <br /><br />

      <section id="trusted-by">
        <h2 data-anime="left-slide" class="scroll-anime padding-10">Trusted By</h2>
        <br />
        <div data-anime="left-slide" id="logos" class="scrll-anime flex flex-sp-ar flex-al-cent">
          <span class="flex flex-al-cent flex-jst-cent">
            <img src="images/facebook.svg" />
          </span>
          <span class="flex flex-al-cent flex-jst-cent">
            <img src="images/mtn.svg" />
          </span>
          <span class="flex flex-al-cent flex-jst-cent">
            <img src="images/airtel.svg" />
          </span>
          <span class="flex flex-al-cent flex-jst-cent">
            <img src="images/9mobile.svg" />
          </span>
          <span class="flex flex-al-cent flex-jst-cent">
            <img src="images/glo.svg" />
          </span>
        </div>
      </section>
      <br /><br />

      <section id="about-us" class="padding-10">
        <h2 data-anime="left-slide" class="scroll-anime">About Us</h2>
        <br />
        <h4 data-anime="top-slide" class="scrll-anime darkorange flex flex-al-cent padding-10">
          <span class="flex flex-al-cent flex-jst-cent">
            <img src="images/Hpic" />
          </span>
          &nbsp;
          <span> BotSub <br /><span class="small">customer satisfaction oriented</span> </span>
        </h4>
        <p data-anime="bottom-slide-rotate-y" class="scroll-anime l-border padding-10 border-r20">
          We are BotSub, a leading VTU data and airtime purchase site revolutionizing the way you
          stay connected with our innovative
          <a href="#">Facebook chatbot.</a><br />
          We have created a seamless platform that allows you to effortlessly buy data and airtime,
          anytime, anywhere even while on
          <em>freemode</em>. Our mission is to provide convenient and reliable solutions for your
          connectivity needs.<br />
          With BotSub, you can experience hassle-free transactions, personalized recommendations,
          and 24/7 accessibility, ensuring that you never run out of data or airtime again. <br />
          <a href="">Join us</a> and discover a new level of convenience and efficiency in managing
          your connectivity with BotSub.
        </p>
      </section>
    </main>
    <br /><br />
    <footer class="responsive bg-drkb padding-10 flex-sp-ar">
      <div class="footer-content clr-white">
        <h3>BotSub</h3>
        <br />
        <p class="small">
          Providing you seamless 24/7 top-ups even on freemode with the aid of our chatbot
        </p>
      </div>
      <br /><br />
      <nav id="footer-links">
        <h3 class="clr-white">Important Links</h3>
        <br />
        <a href="/data-pricing">View Pricing</a> <br />
        <a href="/buy-data">Buy Data</a> <br />
        <a href="/buy-airtime">Buy Airtime</a> <br />
        <a href="https://www.facebook.com/profile.php?id=100094053438576"
          >Connet with our facebook chat</a
        >
        <br />
        <a href="/report-issue">Report an issue</a> <br />
      </nav>
      <br /><br />
      <div class="footer-section clr-white">
        <h3>Contact</h3>
        <br />
        <p>Email: botsub@gmail.com</p>
      </div>

      <br /><br />
      <div class="footer-bottom txt-cent clr-white">
        <div id="footer-logo" class="flex flex-al-cent flex-jst-cent">
          <span class="img-container flex-i flex-jst-cent flex-al-cent bg-drkb2"
            ><img src="images/chatbot.png" alt="botsub-logo"
          /></span>
          <span class="bg-drkb2 padding-10 border-r20"> &nbsp; &nbsp; BotSub</span>
        </div>
        <br /><br />
        <p class="txt-cent">© 2023 BotSub. All rights reserved.</p>
      </div>
    </footer>
    <script src="scripts/home.js"></script>
  </body>
</html>
